<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Galeria de Fotos</title>
  <!-- Vincula o arquivo de estilo externo -->
  <link rel="stylesheet" href="/Style/galeria.css">
</head>
<body>

<div class="Fotos">
  <img src="/Img/1.jpg" alt="Imagem 1">
  <img src="/Img/2.jpg" alt="Imagem 2">
  <img src="/Img/3.jpg" alt="Imagem 3">
  <img src="/Img/4.jpg" alt="Imagem 4">
  <img src="/Img/5.jpg" alt="Imagem 5">
  <img src="/Img/6.jpg" alt="Imagem 6">
</div>

</body>
</html>
