<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Galeria de Fotos</title>
  <!-- Vincula o arquivo de estilo externo -->
  <link rel="stylesheet" href="/Style/galeria.css">
  <!-- Vincula o arquivo de estilo para os comentários -->
  <link rel="stylesheet" href="/Style/comentarios.css">
</head>
<body>

<div class="Fotos">
  <figure>
    <img src="/Img/1.jpg" alt="Imagem 1">
    <div class="comentario">
      <input type="text" placeholder="Digite um comentário para Imagem 1">
      <button class="comentar">Comentar</button>
    </div>
  </figure>

  <figure>
    <img src="/Img/2.jpg" alt="Imagem 2">
    <div class="comentario">
      <input type="text" placeholder="Digite um comentário para Imagem 2">
      <button class="comentar">Comentar</button>
    </div>
  </figure>

  <figure>
    <img src="/Img/3.jpg" alt="Imagem 3">
    <div class="comentario">
      <input type="text" placeholder="Digite um comentário para Imagem 3">
      <button class="comentar">Comentar</button>
    </div>
  </figure>

  <figure>
    <img src="/Img/4.jpg" alt="Imagem 4">
    <div class="comentario">
      <input type="text" placeholder="Digite um comentário para Imagem 4">
      <button class="comentar">Comentar</button>
    </div>
  </figure>

  <figure>
    <img src="/Img/5.jpg" alt="Imagem 5">
    <div class="comentario">
      <input type="text" placeholder="Digite um comentário para Imagem 5">
      <button class="comentar">Comentar</button>
    </div>
  </figure>

  <figure>
    <img src="/Img/6.jpg" alt="Imagem 6">
    <div class="comentario">
      <input type="text" placeholder="Digite um comentário para Imagem 6">
      <button class="comentar">Comentar</button>
    </div>
  </figure>
</div>

<script src="/App.js"></script>
</body>
</html>
